<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- properties 파일 연결 -->
    <properties resource="dbconnect.properties"/>

    <!-- 테이블의 컬럼명과 VO의 멤버변수가 다른 경우(이름 규칙을 맞추었다면) -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 클래스 별칭 부여 -->
    <typeAliases>
        <typeAlias type="mybatis.guest.model.Comment" alias="comment" />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${dbcon.driver}"/>
                <property name="url" value="${dbcon.url}"/>
                <property name="username" value="${dbcon.user}"/>
                <property name="password" value="${dbcon.pass}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 매퍼 등록(연결)-->
        <mapper resource="mybatis/guest/mapper/CommentMapper.xml"/>
    </mappers>
</configuration>