<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<welcome-file-list>
    <welcome-file></welcome-file>
</welcome-file-list>
    <servlet>
        <servlet-name>simpleControl</servlet-name>
        <servlet-class>mvc.simple.SimpleControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>simpleControl</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GuestControl</servlet-name>
        <servlet-class>mvc.guest.control.GuestControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuestControl</servlet-name>
        <url-pattern>/GuestControl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BoardControl</servlet-name>
        <servlet-class>mvc.board.control.BoardControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BoardControl</servlet-name>
        <url-pattern>/Board</url-pattern>
    </servlet-mapping>
</web-app>