@charset "utf-8";
    
     @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

        .notosanskr * { 
        font-family: 'Noto Sans KR', sans-serif;
        }
        
        .top_side {
            font-family: "Noto Sans KR";
            width: 280px;
            height: 120px;
        }
        
        nav {
            display: table;
            text-align: center;
        }
        
        nav ul {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            position: relative;
            top: -18px;
            left: -40px;
            width: 280px;
            height: 50px;
            white-space: nowrap;
        }
        
        .shoplist {
            text-align: center;
            font-size: 15px;
            position: relative;
            display: inline-block;
            padding: 0px 10px;
            overflow: hidden;
        }
        
        .shoplist:hover {
            text-align: center;
            color: #d82370;
            cursor: pointer;
            padding-top: 2px;
        }
        
        .shoplist:hover::after {
            content: "";
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20px;
            padding-top: 2px;
            border-bottom-width: 2px;
            border-bottom-color: #d82370;
            border-bottom-style: solid;
        }
        
        .header {
            width: 280px;
            height: 35px;
            padding: 0px;
            font-size: 16px;
            background-image: url("../imgs/title.png");
            color: white;
            text-align: center;
            line-height: 2.1;
        }
        
        .btn_back {
            background-image: url("../imgs/back.png");
            background-repeat: no-repeat;
            margin-left: 2px;
            margin-right: 2px;
        }
        
        .shopname {
            margin-left: 38px;
            margin-right: 50px;
        }
        
        .btn_search {
            background-image: url("../imgs/search.png");
            background-repeat: no-repeat;
        }
        
        header > span:nth-of-type(n) {
            padding: 0px 25px;
        }
        
        .top_middle_text {
            padding: 15px;
            font-size: 20px;
            font-weight: 600;
        }
        
        .contents {
            clear: both;
            width: 280px;
            height: 400px;
            background-color: #f2f2f2;
            overflow-y: hidden;
        }
        
        .good {
            border-radius: 4px;
            background-color: white;
            padding: 6px;
            margin-top: 10px;
            margin-left: 15px;
            height: 142px;
            box-shadow: 2px 5px 10px -5px #828282;
        }
        /*box-shadow: none | x-position y-position blur spread color | inset | initial | inherit*/
        .img_good {
            border: 0;
            width: 100px;
            height: 80px;
        }
        
        .area_button {
            position: relative;
            width: 25px;
            height: 100px;
            left: 75px;
            top: -60px;
        }
        
        .button_plus {
            background-image: url("../imgs/btn_plus.png");
            background-repeat: no-repeat;
            border: 0;
            position: relative;
            width: 22px;
            height: 22px;
            margin-bottom: 4px;
        }
        
        .button_minus {
            background-image: url("../imgs/btn_minus.png");
            background-repeat: no-repeat;
            border: 0;
            position: relative;
            width: 22px;
            height: 22px;
        }
        
        .info_good {
            position: relative;
            padding-left: 3px;
        }
        
        .info_title {
            font-weight: bold;
            font-size: 14px;
            line-height: 1.2;
        }
        
        .info_weight {
            color: gray;
            font-size: 12px;
        }
        
        .info_price {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.9;
        }